* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gotham';
  font-weight: 500;
}

.menu {
  position: absolute;
  background: #8b5b2e;
  width: 100%;
  height: 90px;
}

.menu img {
  width: 100px;
  margin-top: 14px;
  margin-left: 50px;
}

.menu-l {
  font-family: 'Gotham';
  font-size: 1.2rem;
  color: white;
  text-decoration: none;

  padding-left: 25px;
  margin-top: -40px;
  margin-left: 1220px;
}

.menu-l a {
  color: white;
  text-decoration: none;

  font-family: 'Gotham';
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
}

.menu-l a:hover {
  color: #ffc630;
}

.btn {
  position: absolute;
  width: 104px;
  height: 38px;
  border: none;
  padding: 8px 19px 8px 19px;
  border-radius: 13px;
  color: white;
  background-color: #ffc630;

  margin-top: -33px;
  margin-left: 1750px;
}

.btn a {
  font-size: 20px;
  color: white;
  font-family: 'Gotham Black';
  text-decoration: none;
  font-weight: 500;
}

.btn:hover {
  background-color: #a67907;
}

.services h1 {
  position: absolute;
  width: 500px;
  height: 43px;
  margin-top: 150px;
  margin-left: 50px;

  font-family: 'Gotham';
  font-style: normal;
  font-weight: 700;
  font-size: 45px;

  color: #8b5b2e;
}

.clean {
  position: absolute;
  margin-top: 293px;
  margin-left: 59px;
}

.break {
  position: absolute;
  margin-top: 391px;
  margin-left: 52px;
}

.monitor {
  position: absolute;
  margin-top: 489px;
  margin-left: 59px;
}

.lifeguard {
  position: absolute;
  margin-top: 587px;
  margin-left: 59px;
}

.wifi {
  position: absolute;
  margin-top: 685px;
  margin-left: 50px;
}

.gastro {
  position: absolute;
  margin-top: 783px;
  margin-left: 57px;
}

.coffe {
  position: absolute;
  margin-top: 881px;
  margin-left: 60px;
}

#clean {
  position: absolute;
  width: 450px;
  height: 21px;
  left: 127px;
  top: 307px;

  font-family: 'Gotham';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;

  color: #8b5b2e;
}

#break {
  position: absolute;
  width: 400px;
  height: 21px;
  left: 127px;
  top: 405px;

  font-family: 'Gotham';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;

  color: #8b5b2e;
}

#monitor {
  position: absolute;
  width: 450px;
  height: 21px;
  left: 127px;
  top: 503px;

  font-family: 'Gotham';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;

  color: #8b5b2e;
}

#lifeguard {
  position: absolute;
  width: 450px;
  height: 21px;
  left: 127px;
  top: 601px;

  font-family: 'Gotham';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;

  color: #8b5b2e;
}

#wifi {
  position: absolute;
  width: 450px;
  height: 21px;
  left: 129px;
  top: 699px;

  font-family: 'Gotham';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;

  color: #8b5b2e;
}

#gastro {
  position: absolute;
  width: 300px;
  height: 21px;
  left: 129px;
  top: 797px;

  font-family: 'Gotham';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;

  color: #8b5b2e;
}

#coffe {
  position: absolute;
  width: 250px;
  height: 21px;
  left: 126px;
  top: 894px;

  font-family: 'Gotham';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;

  color: #8b5b2e;
}

.services-sobre h1 {
  position: absolute;
  width: 278px;
  height: 30px;
  margin-left: 842px;
  top: 150px;

  font-family: 'Gotham';
  font-style: normal;
  font-weight: 700;
  font-size: 31px;

  color: #8b5b2e;
}

.services-sobre p {
  position: absolute;
  width: 1000px;
  height: 105px;
  left: 842px;
  top: 348px;

  font-family: 'Gotham';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 21px;

  color: #8b5b2e;
}

.sobre-button {
  position: absolute;
  width: 151px;
  height: 52px;
  left: 842px;
  top: 478px;

  background: #8b5b2e;
  border-radius: 5px;
  border: none;
}

.contato-button {
  position: absolute;
  width: 151px;
  height: 52px;
  left: 1013px;
  top: 478px;

  background: #ffc630;
  border-radius: 5px;
  border: none;
}

.sobre-button a {
  color: white;
  text-decoration: none;
  font-family: 'Gotham';
  font-size: 20px;
}

.contato-button a {
  color: white;
  text-decoration: none;
  font-family: 'Gotham';
  font-size: 20px;
}

.reserve {
  position: absolute;
  width: 100%;
  height: 250px;
  left: -1px;
  top: 1205px;

  background: #ffc630;
}

.reserva h4 {
  color: white;
  font-size: 24px;
  font-family: 'Gotham';
  font-weight: 500;

  padding-top: 24px;
  padding-left: 18px;
}

.reserva h3 {
  color: white;
  font-size: 31px;
  font-family: 'Gotham Black';
  font-weight: 500;

  padding-bottom: 24px;
  padding-left: 18px;
}

#entrada {
  text-transform: uppercase;

  color: white;
  position: absolute;
  margin-top: -100px;
  margin-left: 181px;
}

#saida {
  text-transform: uppercase;

  color: white;
  position: absolute;
  margin-top: -100px;
  margin-left: 374px;
}

.boxr {
  position: absolute;
  margin-top: 70px;
  margin-left: 407px;
  background: #ffc630;
  width: 1133px;
  height: 100px;
  border-radius: 15px;
}

#dateinput {
  width: 192px;
  height: 52px;
  padding: 15px;
  color: #8c5b2e;
  border-radius: 5px;
  border: none;

  margin-left: 181px;
  margin-top: -80px;
  font-family: 'Gotham';
  position: absolute;
}

#dateinput-s {
  width: 192px;
  height: 52px;
  padding: 15px;
  color: #8c5b2e;
  border-radius: 5px;
  border: none;

  margin-left: 374px;
  margin-top: -80px;
  font-family: 'Gotham';
  position: absolute;
}

#adult {
  width: 192px;
  height: 52px;
  padding: 15px;
  color: #8c5b2e;
  border-radius: 5px;
  border: none;

  margin-left: 567px;
  margin-top: -80px;
  font-family: 'Gotham';
  position: absolute;
}

#child {
  width: 192px;
  height: 52px;
  padding: 15px;
  color: #8c5b2e;
  border-radius: 5px;
  border: none;

  margin-left: 760px;
  margin-top: -80px;
  font-family: 'Gotham';
  position: absolute;
}

#search {
  position: absolute;
  width: 151px;
  height: 52px;
  border-radius: 5px;
  font-family: 'Gotham Black';
  font-weight: 500;
  border: none;

  margin-top: -80px;
  margin-left: 970px;
  background-color: #8b5b2e;
}

#search a {
  color: white;
  text-decoration: none;
}

#search:hover {
  background-color: #371e06;
}
